#header {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
  font-size: 80;
  text-align: center;
  color: #d2d2d2;
  right: 10;
}

#backButton {
  margin-bottom: 25;
  margin-top: -65;
  margin-left: 10;
  width: 40;
  height: 40;
  font-size: 40;
  color: #c3c3c3;
}

#textInput {
	height: 60;
	padding: 10;
	font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	font-size: 24;
	color: #000;
}

#selectAllIcon {
  margin-left: 18;
  font-size: 35;
  width: 30;
  height: 30;
  color: #737373;
}

#formWrapper {
  background-color: #fff;
  border-color: #e6e6e6;
  border-width: 1;   
  margin-right: 10; 
  margin-top: 10;
  margin-left: 10;  
}

#listView {
  margin-top: -1;
  border-color: #e6e6e6;
  border-width: 1;   
  margin-right: 10; 
  margin-bottom: 10;
  margin-left: 10;
}

.checkbox {
  margin-left: 5;
  margin-right: 10;
  font-size: 30;
  width: 30;
  height: 30;
}

.todo-row {
  padding: 10;
  background-color: #fff;
}